/*
    Folha de estilo do site One page HTML5 e CSS3
*/

/* Importação Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* CSS Reset */

*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/* Layout */

.Container{
    margin: 0 auto;
}

/* Topo do site */

#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/*Smartphone Portrait*/


/*Smartphone Landscape*/

@media (min-width: 576px){
    body{
        background-color: #00ffff;
    }
    /* Layout */
    .Container{
        max-width: 540px;
        background-color: rgb(154, 154, 207);
    }
}

/*Tablet Portrait*/

@media (min-width: 768px){
    body{
        background-color: #ffff00;
    }
    /* Layout */
    .Container{
        max-width: 720px;
    }
}

/*Tablet Landscape*/

@media(min-width: 992px){
    body{
        background-color: #ff6600;
    }
    /* Layout */
    .Container{
        max-width: 960px;
    }
}

/*PC*/
@media(min-width: 1200px){
    body{
        background-color: rgb(137, 201, 20);
    }
    /* Layout */
    .Container{
        max-width: 1140px;
    }
}